# Ignore editor-specific settings
.vscode/
.vs/

# Ignore user-specific files
**/*.user
**/*.userosscache
**/*.sln.docstates

# Ignore only output directories, but keep necessary intermediate files for the build
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]ut/

# Keep the obj/ folder since Docker may need it for intermediate build artifacts.
# Remove this if it causes issues or if it is certain not to be needed by Docker.

# Ignore specific logs
msbuild.log
msbuild.err
msbuild.wrn

# Ignore ReSharper and other editor cache
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Ignore NuGet packages
*.nupkg
*.snupkg

# Exclude packages folder, but allow build folders if used by MSBuild
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Miscellaneous OS files
*.swp
*.bak
*.cache
*.DS_Store
Thumbs.db
